@font-face {
  font-family: 'CooperHewitt-Bold';
  src: url('./assets/fonts/CooperHewitt-Bold.eot'); 
  src: url('./assets/fonts/CooperHewitt-Bold.ttf') format('ttf'), 
       url('./assets/fonts/CooperHewitt-Bold.woff2') format('woff2'), 
       url('./assets/fonts/CooperHewitt-Bold.woff') format('woff'), 
       url('./assets/fonts/CooperHewitt-Bold.svg') format('svg'); 
}

@font-face {
  font-family: 'GTPressuraMono';
  src: url('./assets/fonts/GTPressuraMono.eot'); 
  src: url('./assets/fonts/GTPressuraMono.ttf') format('ttf'), 
       url('./assets/fonts/GTPressuraMono.woff2') format('woff2'), 
       url('./assets/fonts/GTPressuraMono.woff') format('woff'), 
       url('./assets/fonts/GTPressuraMono.svg') format('svg'); 
}

@font-face {
  font-family: 'GT-Pressura-Regular';
  src: url('./assets/fonts/GT-Pressura-Regular.eot'); 
  src: url('./assets/fonts/GT-Pressura-Regular.ttf') format('ttf'), 
       url('./assets/fonts/GT-Pressura-Regular.woff2') format('woff2'), 
       url('./assets/fonts/GT-Pressura-Regular.woff') format('woff'); 
}

